{% extends 'baselayout.html.twig' %}

{% block title %}Login{% endblock %}
{% block content%}
<div class="post">
    <div class="entry">
        <h2>Login</h2>
        {# Display if not logged in #}
        <form method="post" action="{{ path('user_login_check') }}">
            <p class="error">
                {{ error }}
            </p>
            <label>Login</label>
            <input type="text" name="_username" />
            <label>Password</label>
            <input type="password" name="_password" />
            <button type="submit">Login</button>
        </form>
        {# Display if user is logged in #}
        <p>
            You are already logged in, oh big one.
        </p>
        <a href="">Logout</a>
    </div>
</div>
{% endblock %}