{% extends 'baselayout.html.twig' %}

{% block title%}Terms of use{% endblock %}
{% block content%}
<div class="post">
    <div class="entry">
        {% autoescape false %}
            {{ content }}
        {% endautoescape %}
    </div>
</div>
{% endblock %}