/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

#header {
	display: none;
}

#sidebar1 {
	display: none;
}

#sidebar2 {
	display: none;
}

#footer {
	display: none;
}