{% extends 'baselayout.html.twig' %}

{% block title %}About Us{% endblock %}
{% block content%}
<div class="post">
    <div class="entry">
        {% autoescape false %}
            {{ content }}
        {% endautoescape %}
            
        {# Only for admin #}
        <p class="forAdmin">
            <a href="javascript:popupper('{{ path('about.edit') }}', 'html_edit');" class="html_edit">Edit</a>
        </p>
    </div>
</div>
{% endblock %}